<div class="main__page">
   <div class="container">
      <div class="main__wrapper">
         <div class="main__list row">
            <a class="main__list-item col-lg-2" [routerLink]="['', 'dashboard']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Пробег транспортных средств</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', 'stream']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Стриминг</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/main__list-img.PNG" alt="" class="main__list-img">
                  <p class="main__list-title">Управление активами</p>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>