.main__page {
   width: 100%;
   margin-bottom: 100px;
}

.main__list-item {
   margin-bottom: 30px;
}

.card {
   padding: 15px;
   border-radius: 10px;
   border: 2px solid rgb(0, 0, 0);
   height: 100%;
}

.main__list-img {
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto 10px;
   width: 100px;
}

.main__list-title {
   text-align: center;
}