<div class="main__page">
   <div class="container">
      <div class="main__wrapper">
         <div class="main__list row">
            <a class="main__list-item col-lg-2" [routerLink]="['', 'dashboard']">
               <div class="my_link card">
                  <img src="../../../assets/img/30.png" alt="" class="main__list-img">
                  <p class="main__list-title">Интеллектуальный анализ данных</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', 'stream']">
               <div class="my_link card">
                  <img src="../../../assets/img/33.png" alt="" class="main__list-img">
                  <p class="main__list-title">Computer Vision</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/32.png" alt="" class="main__list-img">
                  <p class="main__list-title">Виртуальные симуляторы</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/1.png" alt="" class="main__list-img">
                  <p class="main__list-title">IOT в производстве</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/5.png" alt="" class="main__list-img">
                  <p class="main__list-title">Интеллектуальный клад</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/21.png" alt="" class="main__list-img">
                  <p class="main__list-title">Состояние оборудования</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/35.png" alt="" class="main__list-img">
                  <p class="main__list-title">BIM-технологии</p>
               </div>
            </a>
            <a class="main__list-item col-lg-2" [routerLink]="['', '']">
               <div class="my_link card">
                  <img src="../../../assets/img/16.png" alt="" class="main__list-img">
                  <p class="main__list-title">Топосъемка</p>
               </div>
            </a>
         </div>
      </div>
   </div>
</div>
