<div class="dropdown">
   <select name="" id="" class="dropdown__select">
      <option value="1" class="dropdown__select-item" selected>1</option>
      <option value="2" class="dropdown__select-item">2</option>
      <option value="3" class="dropdown__select-item">3</option>
      <option value="4" class="dropdown__select-item">4</option>
      <option value="5" class="dropdown__select-item">5</option>
   </select>
</div>
<div>
   <div>
      <div style="display: block">
         <canvas baseChart [data]="polarAreaChartData" [legend]="polarAreaLegend" [type]="polarAreaChartType">
         </canvas>
      </div>
   </div>
</div>