<div class="dashboard__page">
   <div class="container">
      <div class="dashboard__wrapper">
         <div class="dashboard__download">
            <div class="dashboard__input-wrapper">
               <p class="">Кластеры:</p>
               <input class="dashboard__input" type="text" placeholder="Введите число" [(ngModel)]="cluster"
                  (change)="sendcluster()">
            </div>

            <label class="custom-file-upload">
               <input type="file" id="file" multiple (change)="getFileDetails($event)">
               Select a file
            </label>

            <button (click)="uploadFiles()">Upload</button>

         </div>
         <div class="dashboard__list">
            <div class="dashboard__list-item ">
               <h3 class="dashboard__list-title">Анализ предоставленного датасета</h3>
               <div class="dashboard__list-wrapper row">
                  <div class="dashboard__list-graphic col-lg-6">
                     <p class="dashboard__list-text">
                       На графике представлен анализ по индивидуальным id-номерам транспортных средств. Чтобы начать проверку введите номер идентификатора в первом поле и интересующий показатель во втором. Далее вы автоматически получите график, упорядоченный по дате в соответствии с выбранными параметрами
                     </p>
                     <app-line-chart-one></app-line-chart-one>
                  </div>
                  <div class="dashboard__list-graphic col-lg-6">
                     <p class="dashboard__list-text">В соответствии с датой на графике представлены значения показателей по имеющейся строительной технике. В первом поле выберите интересующую Вас дату и показатель во втором поле. Далее вы автоматически получите график, упорядоченный по дате в соответствии с выбранными параметрами</p>
                     <app-line-chart-two></app-line-chart-two>
                  </div>
               </div>
               <div class="dashboard__list-wrapper row">
                  <div class="dashboard__list-graphic col-lg-6">
                     <p class="dashboard__list-text">
                       На графике представлен информационный срез по кластерам. Чтобы начать работу, выберите в первом поле интересующий вас кластер или оставьте "все", чтобы просмотреть информацию по всей строительной технике. Во втором поле выберите тип представления данных: среднее значение, сумма или медиана. В третьем поле выберите интересующий параметр для анализа. Далее вы автоматически получите график, упорядоченный по дате в соответствии с выбранными параметрами
                     </p>
                     <app-bar-chart-one [title]="cluster"></app-bar-chart-one>
                  </div>
                  <div class="dashboard__list-graphic dashboard__list-graphic-pieone col-lg-6">
                     <p class="dashboard__list-text">На графике представлено распределение техники по кластерам в соответствии с выбранными параметрами в верхнем поле страницы. Распределение идентификаторов по кластерам представлено в таблице ниже.
                       Для начала работы в верхнем меню страницы выберите количество кластеров, на которые следует разделить предоставленный датасет. Для загрузки обновленных данных нажмите на кнопку "Select a file", после чего выберите документ с проанализированными датчиками. Нажмите кнопку "Upload", чтобы обновить данные графиков
                     </p>
                     <app-pie-chart-one></app-pie-chart-one>
                  </div>
               </div>
            </div>
         </div>
         <div class="dashboard__table">
            <div class="dashboard__table-row dashboard__table-titles">
               <div class="dashboard__table-col dashboard__table-title">id техники</div>
               <div class="dashboard__table-col dashboard__table-title">Метка класса</div>
            </div>
            <div class="dashboard__table-row dashboard__table-row--red" *ngFor="let item of tabledata">
               <div class="dashboard__table-col" style="background-color: {{stylecolor[item.class+1]}}">{{item.id}}</div>
               <div class="dashboard__table-col" style="background-color: {{stylecolor[item.class+1]}}">Кластер {{item.class}}</div>
            </div>
         </div>
      </div>
   </div>
</div>
